.carousel-parent {
    height: 100vh;
    background-color: #001220;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gallery{
    height: 200px;
    width: 200px;
    position: relative;
    transform-style: preserve-3d;
    animation: gallery 20s linear infinite;

}

.gallery span{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform-style: preserve-3d;
    transform-origin: center;
    transform: rotateY(calc(var(--i) * 45deg)) translateZ(400px);
    
}
.gallery:hover{
    animation-play-state: paused;
}
.gallery:hover svg{
    opacity: 0.2;
}

.gallery span svg{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    -webkit-box-reflect: below 1px linear-gradient(transparent, transparent, rgba(0, 0, 0, 0.233)) ;
}

.gallery span svg:hover{
   transition: all 1s;
   transform: scale(1.2);
   cursor: pointer;
   opacity: 1;
}


@keyframes gallery{
    0%{
        transform: perspective(1000px) rotateY(0deg);
    }
    100%{
        transform: perspective(1000px) rotateY(360deg);
    }
}