.menu-icon {
    color: orangered;
    font-size: 70px;
    margin: 20px;
    z-index: 2;
    cursor: pointer;
}

.show-header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    flex-direction: column;
    top: 0;
    right: 0;
    background-color: #001220;
    height: 65vh;
    width: 50%;
    border-bottom-left-radius: 50%;
    transition: all 0.5s;
    opacity: 0.9;
    z-index: 1;
}

.hide-header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    flex-direction: column;
    height: 0;
    width: 0;
    overflow: hidden;
    transition: all 0.5s;
    top: 0;
    right: 0;
}

ul li {
    color: white;
    list-style: none;
    margin-top: 25px;
}

ul a {
    color: white;
    text-decoration: none;
}

.active {
    border: 2px solid cyan;
    padding: 10px;
    border-radius: 10px;
}

.active a {
    color: cyan;
    font-weight: bold;
}

.footer-content{
    background-color: #001220;
    color: #fff;
    text-align: center;
}

.footer svg{
color: white;
}
.footer-icons{
 transition: 0.5s;
}
.footer-icons:hover{
    color: cyan;
    transform: scale(1.5);
}
.footer b {
    font-size: 20px;
    color: #0ff;
}

.contact-form {
    padding: 50px;
}
input, textarea {
    border: none!important;
    margin-top: 25px;
    border-radius: 15px!important;
    background-color: #ebecf0!important;
    box-shadow: -5px 5px 0 #c8c9cc,5px -5px 0 hsla(0,0%,100%,.6784313725490196)!important;
    transition: all 1s;
}

.contact-form button {
    color: #fff;
    font-weight: 700;
    border-radius: 15px;
    padding: 5px 20px;
    margin-top: 20px;
    background-color: #001220;
    box-shadow: none;
    border: none;
}
input:focus, textarea:focus {
    -webkit-transform: scale(1.02);
    transform: scale(1.02);
}

@media (max-width:750px) {
    .show-header {
        height: 100vh;
        width: 100%;
        border-bottom-left-radius: 50%;
        border-top-left-radius: 50%;
        border-left: 2px solid rgba(255, 255, 255, 0.384);
        transition: width 0.5s;
    }
    .hide-header {
        transition: all 0s;
    }
    .menu-icon {
        font-size: 45px;
    }
}