.introduction {
    height: 100vh;
    width: 100%;
    background-position: 100% 100%;
    background-size: cover;
}

.introduction p {
    color: white;
    ;
}

.introduction div h1 {
    font-size: 100px;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.315);
}

.introduction div h1:hover {
    color: white;
    cursor: default;
    text-shadow: 0px 0px 10px #fff;
}

.primary-button {
    background-color: white;
    height: 45px;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    border: none;
    width: 50%;
}

@media(max-width:750px) {
    .introduction div h1 {
        font-size: 75px;
    }
    .primary-button {
        background-color: white;
        height: 45px;
        border-radius: 25px;
        -webkit-border-radius: 25px;
        -moz-border-radius: 25px;
        -ms-border-radius: 25px;
        -o-border-radius: 25px;
        border: none;
        width: auto;
        padding: 5px 15px;
    }
}